.logo{
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}
body{
    background-image: url("/img/brew2x.jpg");
    background-size: cover;
}
.navbar{
    opacity: 0.85;
    height: 9vh;
}
h1{
    color: rgb(255, 255, 255);
}
header{
    background-color: rgba(0, 0, 0, 0.384);
}
.h_image{
    width: 100px;
    border-radius: 3px;
}
.icon{
    color: white;
    height: 10px;
}
#menu{
    width: 700px;
}