.logo{
    height:100%;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}
body{
    background-image: url("/img/brew2x.jpg");
    background-size: contain;
}
.nav-bar{
    height: 9vh;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
.h_image{
    width: 100px;
    border-radius: 3px;
}
.icon{
    color: white;
    height: 10px;
}
#menu{
    width: 40vw;
}
#promo-vid{
    width: 100%;
    height: 50%;
}
#video{
    pointer-events: none;
   height: 5vh;
   width: 100vw;
}
#carousel-item{
    height: 100%;
    width: 100%;
}
.container-menu{
    background-color: rgba(24, 23, 23, 0.11);
    opacity: .8;
}
@media (max-width:420px){
    .logo{
        height: 100%;
    }
}
@media (max-width:834px){
   .containerMenu{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
   }
   #menu{
    width: 100%;
   }
  .reviews{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
   }
  
}